*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App {
  
}

.Main{
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  column-gap:5%;
 
  background-color: rgba(0, 94, 255, 0.078);
}

